/*==================================================================
* General
*==================================================================*/


body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	font-family: Ubuntu, Arial, sans-serif;
	color: #fff;
	background-color: #019875;
	background-image: url("../img/bg@360.jpg");
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;

}
a {
	color: #4eafef;
	text-decoration: none;
}

.hidden-phone {
	display: none;
}

.container {
	margin: 0 auto;
	padding: .8em;
	max-width: 1024px;


}
#headline {
	margin-top: 50px;
}


/*==================================================================
* Form
*==================================================================*/
#form-login fieldset {
	border: none;
	max-width: 400px;
	margin: 0 auto;
}

#form-login {
	background-color: transparent;
	background-color: rgba(255,255,255, .3);
	box-shadow: 2px 2px 7px rgba(0, 0, 0, .2);
	border-radius: 3px;
	padding: 30px 10px;
	margin-bottom: 10px;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
					box-sizing: border-box;
}

#content {

	background-color: transparent;
}

#form-login legend {
	color: #fff;
	font-size: 130%;
}

.form-control {
	display: block;
	margin: 0;
	padding: 12px;
	font-size: 16px;
	border: solid 1px #ccc;
	width: 100%;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
					box-sizing: border-box;
	color: #a9a9a9;
	box-shadow: inset 1px 2px 5px rgba(0,0,0, .08);
	outline: none;
	transition-duration: .2s;
}

.form-control:focus {
	box-shadow: 0 0 6px #00CD56;
	border-color: #00CD56;
}

#user:focus,
#password:focus {
	position: relative;
	z-index: 2;
}

#user {
	border-radius: 5px 5px 0 0;
}

#password {
	margin-top: -1px;
	margin-bottom: 5px;
	border-radius: 0 0 5px 5px;
}
.hidden-label {
	position: absolute;
	clip: rect(1px 1px 1px 1px ); /* IE 6 */
	clip: rect(1px, 1px, 1px, 1px );
}

.btn {
	background-image: none;
	//background-color: #ccc;
	border: solid 3px transparent;
	border-width:  0 0 3px 0;
	color: #fff;
	padding: 12px;
	font-weight: bold;
	display: block;
	width: 100%;
	border-radius: 3px;
	outline: 0;
	vertical-align: middle;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
					box-sizing: border-box;
	text-decoration: none;
	margin-bottom: 4px;
	text-shadow: 0 1px 1px gray;

}

.btn-success {
	background-color: #00aa44;
	border-color: #119435;
}
.btn * {
	vertical-align: middle;
	display: table-cell;
}

.btn:active {
	box-shadow: inset 0 3px 5px rgba(0,0,0, .5);
}

/*==================================================================
* Blurb
*==================================================================*/
#blurb {
	text-align: center;
	text-shadow:  1px 1px 3px gray;
	font-family: Roboto, Ubuntu, Arial, sans-serif;
	font-weight: 300;
}
#blurb h1 {
	margin: 0;
	font-size: 230%;
	font-weight: 100;
}

#blurb .sage {
	text-shadow:  0 0 5px #00aa44;
	font-weight: 300;
}

#blurb p {
	font-size: 1.5em;
}

/*==================================================================
* Nav (navigation)
*==================================================================*/

nav {
	clear: both;
}
nav .col {
	box-sizing: border-box;
	padding: 5%;

}

nav .col img {
	width: 70px;
	padding-right: 10px;
	float: left;
}

/*==================================================================
* Footer
*==================================================================*/

footer {
	background-color: transparent;
	background-color: rgba(255,255,255, .3);
	clear: both;
	font-size: 80%;
}

/*==================================================================
* Adapt elements to wide viewport
*==================================================================*/


@media (min-width: 768px) {
	body {
		background-image: url("../img/bg@1000.jpg");
	}

	.hidden-phone {
		display: block;
	}

	#form-login,
	#blurb {
		float: left;
		padding: 50px;
		box-sizing: border-box;
	}

	#form-login {
		width: 40%;

	}

	#blurb {
		width: 60%;
	}

	#blurb h1 {
		font-size: 320%;
	}

	#blurb .sage {

	}
	nav .col {
		width: 30%;
		float: left;
		text-align: center;
	}

	nav .col img {
		width: 100px;
		float: none;
	}

}
