/*==================================================================
* General
*==================================================================*/

html,
body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	position: relative;
}

body {

	font-family: Ubuntu, Arial, sans-serif;
	color: #555753;
	color: white;
	background-color: #fdfdfd;
	background-image: url("../img/bg@1000.jpg");
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;

}


.sage {
	color: #00aa44;
}
.container {
	margin: 0 auto;
	padding: .8em;
	max-width: 1024px;
	
}
/*==================================================================
* Form
*==================================================================*/
#form-login fieldset {
	border: none;
}

#form-login, #content {
	background-color: #fff;
	background-color: rgba(255,255,255, .9);
	background-color: rgba(0,0,0, .7);
	padding: 30px 10px;
	margin-bottom: 10px;
	-webkit-box-sizing: border-box; 
	   -moz-box-sizing: border-box; 
					box-sizing: border-box;
}

#form-login legend {
	color: #fff;
}

.form-control {
	display: block;
	margin: 0;
	padding: 12px;
	font-size: 16px;
	border: solid 1px #ccc;
	width: 100%;
	-webkit-box-sizing: border-box; 
	   -moz-box-sizing: border-box; 
					box-sizing: border-box;	
	color: #a9a9a9;
	box-shadow: inset 1px 2px 5px rgba(0,0,0, .08);
	outline: none;
}

.form-control:focus {
	box-shadow: 0 0 6px #00CD56;
	border-color: #00CD56;
}

#user:focus,
#password:focus {
	position: relative;
	z-index: 2;
}

#user {
	border-radius: 5px 5px 0 0;
}

#password {
	margin-top: -1px;
	margin-bottom: 5px;
	border-radius: 0 0 5px 5px;
}
.hidden-label {
	position: absolute;
	clip: rect(1px 1px 1px 1px ); /* IE 6 */
	clip: rect(1px, 1px, 1px, 1px );
}

.btn {
	background-image: none;
	//background-color: #ccc;
	border: solid 3px transparent;
	border-width:  0 0 3px 0;
	color: #fff;
	padding: 12px;
	font-weight: bold;
	display: block;
	width: 100%;
	border-radius: 3px;
	outline: 0;
	vertical-align: middle;
	-webkit-box-sizing: border-box; 
	   -moz-box-sizing: border-box; 
					box-sizing: border-box;
	text-decoration: none;
	margin-bottom: 4px;
	text-shadow: 0 1px 1px gray;
	
}

.btn-success {
	background-color: #00aa44;
	border-color: #119435;
}
.btn * { 
	vertical-align: middle;
	display: table-cell;
}

.btn:active {
	box-shadow: inset 0 3px 5px rgba(0,0,0, .5);
}

/*==================================================================
* Blurb
*==================================================================*/

#blurb p { 
	font-size: 1.5em;
}

/*==================================================================
* Adapt elements to wide viewport
*==================================================================*/


@media (min-width: 768px) {

	
	#form-login, #content {
		float: left;		
		margin: 1%;
		min-height: 450px			
		
	}
	
	#form-login {
		width: 38%;
		padding-top: 150px;
	
	}
	
	#content {
		width: 58%;
	}
	
	footer {
		clear: both;
			
	}
	
}

@media (max-width: 768px) {
	.hidden-phone {
		display: none;
	}

}








